/include/ "system-conf.dtsi"
/ {
	misc_clk_a: misc_clk_a {
		#clock-cells = <0>;
		clock-frequency = <12000000>;
		compatible = "fixed-clock";
	};
	cam_reg_1v8: regulator-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};
	cam_reg_2v8: regulator-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "2v8";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
	};
	cam_reg_1v5: regulator-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "1v5";
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
	};

};

&i2c1 {
        clock-frequency = <400000>;
        eeprom@50{
                compatible = "atmel,24c04";
                reg = <0x50>;
                pagesize = <16>;
        };
};

&i2c1 {
        clock-frequency = <400000>;
        lm75@48 {
                compatible = "nxp,lm75";
                reg = <0x48>;
        };
};

&qspi {
        status = "okay";
};

&flash0 {
	is-dual = <0>;
	num-cs = <1>;
	spi-rx-bus-width = <4>;
        spi-tx-bus-width = <4>;
        compatible ="jedec,spi-nor";
        reg= <0x0>;
};

&gem3 {
	phy-handle = <&phy0>;
    local-mac-address = [00 0a 35 00 22 01];
	phy0: ethernet-phy@c {
		reg = <0x0>;
	};
};

&axi_ethernet_0 {
	phy-handle = <&phy2>;
};

&axi_ethernet_0_mdio {
	phy2: phy@2 {
		device_type = "ethernet-phy";
		reg = <1>;
	};
};

&i2c0 {
	ov5640: camera@3c {
		compatible = "ovti,ov5640";
		reg = <0x3c>;
		clocks = <&misc_clk_a>;
		clock-names = "xclk";
		/* rotation = <180>; */
		DOVDD-supply = <&cam_reg_1v8>;
		AVDD-supply = <&cam_reg_2v8>;
		DVDD-supply = <&cam_reg_1v5>;
		port {
			/* MIPI CSI-2 bus endpoint */
			ov5640_to_mipi_csi2: endpoint {
				remote-endpoint = <&csiss_in>;
				clock-lanes = <0>;
				data-lanes = <1 2>;
			};
		};
	};
};


&mipi_csi2_rx_subsyst_0{
	compatible = "xlnx,mipi-csi2-rx-subsystem-2.0";
	csiss_ports: ports {
		#address-cells = <1>;
		#size-cells = <0>;
		csiss_port0: port@0 {
			reg = <0>;

			xlnx,video-format = <0>;
			xlnx,video-width = <8>;

			csiss_out: endpoint {
				remote-endpoint = <&csc_in>;
			};
		};
		csiss_port1: port@1 {
			reg = <1>;

			xlnx,video-format = <0>;
			xlnx,video-width = <8>;

			csiss_in: endpoint {
				data-lanes = <1 2>;
				remote-endpoint = <&ov5640_to_mipi_csi2>;
			};
		};
	};
};

&v_proc_ss_0{
	compatible = "xlnx,v-vpss-csc";
	reset-gpios = <&gpio 86 1>;
	csc_ports: ports {
		#address-cells = <1>;
		#size-cells = <0>;
		csc_port0: port@0 {
			reg = <0>;
			xlnx,video-format = <3>;
			xlnx,video-width = <8>;
			csc_in: endpoint {
				remote-endpoint = <&csiss_out>;
			};
		};
		csc_port1: port@1 {
			reg = <1>;
			xlnx,video-format = <3>;
			xlnx,video-width = <8>;
			csc_out: endpoint {
				remote-endpoint = <&vcap_in>;
			};
		};
	};
};


&v_frmbuf_wr_0 {
	compatible = "xlnx,axi-frmbuf-wr-v2.1";
	reset-gpios = <&gpio 85 1>;
};

&amba_pl {
	vcap_mipi {
		compatible = "xlnx,video";
		dma-names = "port0";
		dmas = <&v_frmbuf_wr_0 0>;
		vcap_ports: ports {
			#address-cells = <1>;
			#size-cells = <0>;
			vcap_port: port@0 {
				direction = "input";
				reg = <0>;
				vcap_in: endpoint {
					remote-endpoint = <&csc_out>;
				};
			};
		};
	};
	/* The FPD thermal diode is remotely located near the APUs */
	temp_apu: thermal-sensor@ffa50a14 {
		compatible = "xlnx,zynqmp-pssysmon-temp";
		#thermal-sensor-cells = <0>;
		reg = <0x0 0xffa50a14 0x0 0x2>;
		type = "temp-sensor";
		id = <0>;
	};
	/* The thermal diode is located in the PL SysMon unit */
	temp_pl: thermal-sensor@ffa50c00 {
		compatible = "xlnx,zynqmp-pssysmon-temp";
		#thermal-sensor-cells = <0>;
		reg = <0x0 0xffa50c00 0x0 0x2>;
		type = "temp-sensor";
		id = <0>;
	};
	/* The LPD thermal diode is located in the PS SysMon unit near the RPU */
	temp_ps: thermal-sensor@ffa50800 {
		compatible = "xlnx,zynqmp-pssysmon-temp";
		#thermal-sensor-cells = <0>;
		reg = <0x0 0xffa50800 0x0 0x2>;
		type = "temp-sensor";
		id = <0>;
	};
};

/* SD */
&sdhci1 {
	disable-wp;
	no-1-8-v;
};

/* USB  */
&dwc3_0 {
    status = "okay";
    dr_mode = "host";
};

/* USB  */
&dwc3_0 {
    status = "okay";
    dr_mode = "host";
};


/*
 * Hardware PWM (Phase B): the fan is driven by the axi_pwm PL peripheral
 * (DTG label &fan_pwm @ 0x80090000). Bind the pl-pwm-fan driver and add the
 * cooling-device properties via this override. The PL clock is 200 MHz, so a
 * period of 8000 cycles = 25 kHz. active-low sets CTRL.POLARITY = 1 (physical 0
 * on AA11 = fan on). This node is the cooling device the thermal maps reference.
 */
&fan_pwm {
	compatible = "user,axi-pwm-fan";
	pwm-period-cycles = <8000>;   /* 200 MHz / 25 kHz */
	active-low;                   /* CTRL.POLARITY = 1 (physical 0 = fan on) */
	/*
	 * Per-mille duty per cooling state (index 0..7), tuned by ear:
	 * 7% is the quiet, self-starting floor; near-silent until ~85 C then
	 * ramps hard (noise acceptable once that hot).
	 *   state:  0     1    2    3     4     5     6     7
	 *   duty:  off   7%   8%   9%   10%   30%   60%  100%
	 */
	cooling-levels = <0 70 80 90 100 300 600 1000>;
	#cooling-cells = <2>;
};

/ {

	/*
	 * Tuned fan curve (hardware PWM). step_wise ramps the fan one state per
	 * trip as temperature rises; each trip binds the state band <n-1 n>, so
	 * the fan settles at the top state of the highest crossed trip:
	 *   <50 C   off        50-70 C  7%      70-78 C  8%     78-85 C  9%
	 *   85-88 C 10%        88-91 C  30%     91-94 C  60%    >94 C   100%
	 * (duty values live in &fan_pwm cooling-levels). 2 C hysteresis on every
	 * trip so it doesn't flip PWM values. 95 C critical. Hottest sensor wins.
	 */
	thermal-zones {
		apu_thermal: apu-thermal {
			polling-delay = <1000>;
			polling-delay-passive = <500>;
			thermal-sensors = <&temp_apu>;
			trips {
				apu_crit: apu_crit { temperature = <95000>; hysteresis = <2000>; type = "critical"; };
				apu_t0: apu_t0 { temperature = <50000>; hysteresis = <2000>; type = "active"; };
				apu_t1: apu_t1 { temperature = <70000>; hysteresis = <2000>; type = "active"; };
				apu_t2: apu_t2 { temperature = <78000>; hysteresis = <2000>; type = "active"; };
				apu_t3: apu_t3 { temperature = <85000>; hysteresis = <2000>; type = "active"; };
				apu_t4: apu_t4 { temperature = <88000>; hysteresis = <2000>; type = "active"; };
				apu_t5: apu_t5 { temperature = <91000>; hysteresis = <2000>; type = "active"; };
				apu_t6: apu_t6 { temperature = <94000>; hysteresis = <2000>; type = "active"; };
			};
			cooling-maps {
				apu_m0 { trip = <&apu_t0>; cooling-device = <&fan_pwm 0 1>; };
				apu_m1 { trip = <&apu_t1>; cooling-device = <&fan_pwm 1 2>; };
				apu_m2 { trip = <&apu_t2>; cooling-device = <&fan_pwm 2 3>; };
				apu_m3 { trip = <&apu_t3>; cooling-device = <&fan_pwm 3 4>; };
				apu_m4 { trip = <&apu_t4>; cooling-device = <&fan_pwm 4 5>; };
				apu_m5 { trip = <&apu_t5>; cooling-device = <&fan_pwm 5 6>; };
				apu_m6 { trip = <&apu_t6>; cooling-device = <&fan_pwm 6 7>; };
			};
		};
		pl_thermal: pl-thermal {
			polling-delay = <1000>;
			polling-delay-passive = <500>;
			thermal-sensors = <&temp_pl>;
			trips {
				pl_crit: pl_crit { temperature = <95000>; hysteresis = <2000>; type = "critical"; };
				pl_t0: pl_t0 { temperature = <50000>; hysteresis = <2000>; type = "active"; };
				pl_t1: pl_t1 { temperature = <70000>; hysteresis = <2000>; type = "active"; };
				pl_t2: pl_t2 { temperature = <78000>; hysteresis = <2000>; type = "active"; };
				pl_t3: pl_t3 { temperature = <85000>; hysteresis = <2000>; type = "active"; };
				pl_t4: pl_t4 { temperature = <88000>; hysteresis = <2000>; type = "active"; };
				pl_t5: pl_t5 { temperature = <91000>; hysteresis = <2000>; type = "active"; };
				pl_t6: pl_t6 { temperature = <94000>; hysteresis = <2000>; type = "active"; };
			};
			cooling-maps {
				pl_m0 { trip = <&pl_t0>; cooling-device = <&fan_pwm 0 1>; };
				pl_m1 { trip = <&pl_t1>; cooling-device = <&fan_pwm 1 2>; };
				pl_m2 { trip = <&pl_t2>; cooling-device = <&fan_pwm 2 3>; };
				pl_m3 { trip = <&pl_t3>; cooling-device = <&fan_pwm 3 4>; };
				pl_m4 { trip = <&pl_t4>; cooling-device = <&fan_pwm 4 5>; };
				pl_m5 { trip = <&pl_t5>; cooling-device = <&fan_pwm 5 6>; };
				pl_m6 { trip = <&pl_t6>; cooling-device = <&fan_pwm 6 7>; };
			};
		};
		ps_thermal: ps-thermal {
			polling-delay = <1000>;
			polling-delay-passive = <500>;
			thermal-sensors = <&temp_ps>;
			trips {
				ps_crit: ps_crit { temperature = <95000>; hysteresis = <2000>; type = "critical"; };
				ps_t0: ps_t0 { temperature = <50000>; hysteresis = <2000>; type = "active"; };
				ps_t1: ps_t1 { temperature = <70000>; hysteresis = <2000>; type = "active"; };
				ps_t2: ps_t2 { temperature = <78000>; hysteresis = <2000>; type = "active"; };
				ps_t3: ps_t3 { temperature = <85000>; hysteresis = <2000>; type = "active"; };
				ps_t4: ps_t4 { temperature = <88000>; hysteresis = <2000>; type = "active"; };
				ps_t5: ps_t5 { temperature = <91000>; hysteresis = <2000>; type = "active"; };
				ps_t6: ps_t6 { temperature = <94000>; hysteresis = <2000>; type = "active"; };
			};
			cooling-maps {
				ps_m0 { trip = <&ps_t0>; cooling-device = <&fan_pwm 0 1>; };
				ps_m1 { trip = <&ps_t1>; cooling-device = <&fan_pwm 1 2>; };
				ps_m2 { trip = <&ps_t2>; cooling-device = <&fan_pwm 2 3>; };
				ps_m3 { trip = <&ps_t3>; cooling-device = <&fan_pwm 3 4>; };
				ps_m4 { trip = <&ps_t4>; cooling-device = <&fan_pwm 4 5>; };
				ps_m5 { trip = <&ps_t5>; cooling-device = <&fan_pwm 5 6>; };
				ps_m6 { trip = <&ps_t6>; cooling-device = <&fan_pwm 6 7>; };
			};
		};
	};
};



